$background-color: #09326c;
$text-color: #fff;
$primary-color: #000;
$list-background-color: #101204;
$card-background-color: #44546f;
$border-color: #555;
$button-background-color: #04477e;
$button-text-color: #fff;
