.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #026aa7;
  padding: 10px 20px;
  color: #fff;

  .logo {
    font-size: 24px;
    font-weight: bold;
  }

  nav ul {
    display: flex;
    list-style: none;

    li {
      margin: 0 15px;

      a {
        text-decoration: none;
        color: #fff;
        font-size: 16px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .user-profile {
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}
